# MongoDB
MONGO_URI=mongodb://localhost:27017/ibbi_local

# JWT
JWT_SECRET=ibbi_secret_key_2026
JWT_EXPIRES_IN=7d

# Evolution API
EVOLUTION_API_URL=https://evo2.wastezero.com.br
EVOLUTION_INSTANCE=Isaias
EVOLUTION_API_KEY=26ACA0213352-4CD3-83CE-F3586D857FE9

# WhatsApp destino (pedidos de oração)
CHURCH_WHATSAPP_NUMBER=557130512535

# Mock WhatsApp destino (dev)
MOCK_WHATSAPP_NUMBER=557135990522
FORCE_MOCK_RECIPIENT=true
EVOLUTION_ALLOW_SELF_SIGNED=true

# Servidor
PORT=3001
NODE_ENV=development
